---
interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  ogUrl?: string;
  bodyClass?: string;
}

const { title, description, ogImage, ogUrl, bodyClass } = Astro.props;
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="manifest" href="/images/site.webmanifest" />
    {description && <meta property="og:description" content={description} />}
    {ogImage && <meta property="og:image" content={ogImage} />}
    {ogUrl && <meta property="og:url" content={ogUrl} />}
    {(description || ogImage) && <meta name="twitter:card" content="summary" />}
    {title && <meta property="og:title" content={title} />}
    <slot name="head" />
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>
